

<div id="bodyContainer"   ng-controller="app.views.seekers as vm">
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="form-group">
                    <legend>Holders List</legend>
                    <br />
                    <br />
                    <br />
                    <table class="table-bordered">
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Address</th>
                            <th>Parking Slot</th>
                            <th colspan="2"></th>
                        </tr>
                        <tr ng-repeat="holder in holders">
                            <td>{{holder.userId}}</td>
                            <td>{{holder.firstName}}</td>
                            <td>{{holder.lastName}}</td>
                            <td>{{holder.parkingSlotNumber}}</td>
                            <td>
                                <button class="btn btn-info btn-sm" ng-click="editholderDetails(holder, $index)">
                                    Edit
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm" ng-click="removeFromList($index)">
                                    Remove
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>