<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />



</head>
<body>

<h1 style="margin-left: 300px; margin-top: 320px">
    Hello &nbsp;<span style="color: red">{{details.FirstName}}&nbsp; &nbsp;{{details.LastName}}</span>You have Allocated with Slot Number: &nbsp;<span style="color: red">{{details.ParkingSlotNumber}} with Reference Number:&nbsp;{{details.Reference}}</span>

</h1>
    <br />
    <br />
    <br />
    <h1 style="margin-left: 400px; margin-top: 120px"><a href="#/login">Go to login page</a></h1>
</body>
</html>
