
<div ng-controller="app.views.home as vm">
    <h1 class="text-success" ">@L("WellcomeMessage")</h1>
    <p class="lead text-warning">@L("Home_ThisIsATemplate")</p>
    <div class="row">
        <div class="col-md-12 jumbotron">
            <h3 class="text-primary">Hi!</h3>
            <p class="text-primary">
                @L("Home_AspNetDescription")
            </p>
            <a class="btn btn-primary btn-sm" href="#/">@L("LearnMore")..</a>
        </div>
    </div>
</div>
