<div class="well well-sm" align="center">

     <font size="40" > &lt; epam &gt; </font>
    <a href="#" style="text-decoration:none; font-weight: bold; color: chocolate">
        <h1>Login</h1>
    </a>


    <div class="modal-content">


        <!-- Begin # DIV Form -->
        <div id="div-forms">

            <!-- Begin # Login Form -->
            <form id="login-form" style="font-size:16px">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="login-label">User Name</label>
                        <input id="username" class="border-color" name="username"
                               ng-model="username"
                               ng-minlength="6"
                               autofocus required />
                    </div>
                    <div class="form-group">

                        <label class="login-label">Password</label>
                        <input id="password" type="password" name="password" ng-model="password"
                               maxlength="16" autocomplete="off" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <div  class="form-group" align="center">
                        <button type="submit" class="btn btn-primary btn-lg ">Login</button>
                    </div>
                </div>
            </form>
            <!-- End # Login Form -->

        </div>
        <!-- End # DIV Form -->

    </div>

</div>
<!--<div class="row">
    <form role="form" ng-submit="login()">
        <div class="form-group">
            <label for="userObject.userName">User Name:</label>
            <input type="text" class="form-control" ng-model="userObject.userName" id="userName" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label for="userObject.password">Password:</label>
            <input type="password" class="form-control" ng-model="userObject.password" id="password" maxlength="16" autocomplete="off" required>
        </div>
        <input class="btn btn-info" type="submit" value="Submit" style="float:center;">
    </form>
</div>-->
